/**
 * Created by islam on 4/11/2024.
 */

table {
    width            : 100%;
    border-collapse  : collapse;
    background-color : #FFEDD8;

    }
th, td {
    border     : 1px solid black;
    padding    : 8px;
    text-align : center;
    }

.table-container{
    margin: 1.2rem;
    }